/* You can add global styles to this file, and also import other style files */
/* using Sass */
@import "~bootstrap/scss/bootstrap";

//
// Color system
//
$blue: #007bff !default;
$primary: $blue !default;
$theme-colors: () !default;
